<li class="nav-item dropdown" dropdown>
    <a class="nav-link" href dropdownToggle (click)="false">
        <fa-icon [icon]="faFlag"></fa-icon>
        <span class="badge badge-danger badge-transform">2</span>
    </a>
    <div *dropdownMenu class="dropdown-menu dropdown-menu-right position-absolute" role="menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
    </div>
</li>