<div class="content-wrapper">
    <div class="container">
        <!-- Content Header (Page header) -->
        <section class="content-header">
        <h4>
            顶部导航
            <small class="text-muted">Example</small>
            <ol class="breadcrumb float-right">
                <li class="breadcrumb-item"><a href="#"><fa-icon [icon]="faAddressBook"></fa-icon>Home</a></li>
                <li class="breadcrumb-item"><a href="#">Example</a></li>
                <li class="breadcrumb-item active" aria-current="page">Library</li>
            </ol>
        </h4>
        </section>
        <section class="content">
            <div class="alert alert-info my-3" role="alert">
                This is a light alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
            </div>
            <div class="alert alert-primary" role="alert">
                <p>Add the layout-top-nav class to the body tag to get this layout. </p>
                <p>This feature can also be used with a sidebar! </p>
                <p>So use this class if you want to remove the custom dropdown menus </p>
                <p>from the navbar and use regular links instead.</p>
            </div>
            <div class="alert alert-secondary" role="alert">
                <h4 class="alert-heading">Well done!</h4>
                <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
                <hr>
                <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
            </div>
        </section>
    </div>
    <!-- /.container -->
</div>