<div class="layout-border">
    <div class="layout-border-north">
        <header>
            <nav class="navbar navbar-dark sticky-top p-0">
                
                <a class="navbar-brand" [routerLink]="['/admin']">
                    <span class="d-none d-md-block"><b>NG</b>Business</span>
                    <span class="d-block d-md-none"><b>NG</b>B</span>
                </a>
                <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
                    <span class="navbar-toggler-icon"></span>
                </button>
        
                <ul class="navbar-nav flex-row ml-auto">
                    <global-header-message></global-header-message>
                    <global-header-notification></global-header-notification>
                    <global-header-task></global-header-task>
                </ul>
            </nav>
        </header>
    </div>
    <div class="layout-border-middle">
        <div class="layout-border-east main-sidebar">
            main-sidebar
        </div>
        <div class="layout-border-center">
            Simple Tables
        </div>
        <div class="layout-border-west">west</div>
    </div>
    <div class="layout-border-south">
        
    </div>
</div>