
.navbar .navbar-brand {
    width:230px;
    text-align: center;
    background-color: #367fa9;
    line-height: 2.6rem;
    margin-right: 0;
}

.navbar .navbar-toggler {
    margin: 0;
    padding: 15px;
    border: 0;
    font-size: 14px;
    line-height: 18px;
    border-radius:0;
}
.navbar .navbar-toggler:hover {
    background-color: #367fa9;
}

.main-sidebar {
    width:230px;
    background-color: #222d32;
}