/* You can add global styles to this file, and also import other style files */

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: 0 auto;
}


.navbar {
  background-color:#3c8dbc;
  padding: 0 1rem;
  font-size: 0.875em;
  line-height: 1.29em;
}

.navbar .nav-link {
  padding: 15px!important;
  color: white!important;
}

.navbar .navbar-toggler {
  margin: 0.25rem 0;
}

.navbar .nav-item:hover,
.navbar .active  {
  background: rgba(0,0,0,0.1);
}

.navbar .badge-transform {
  transform: translate(-50%, -50%);
  padding: .1em .2em;
  position: absolute;
}

/* .navbar-nav .dropdown-menu {
  position: absolute!important;
} */
